### 1st problem

In [6]:
list1=["hello", 1, True]
print(list1)

['hello', 1, True]

In [8]:
k=input("Please enter your age: ")
list1.append(k)
print(list1)

Please enter your age: 28
['hello', 1, True, '28']

### 2nd problem

In [42]:
list2=["Anna", "Mary", "Lena", "Margarita", "Alex", "Sarah", "Daniel", "Irina"]

In [43]:
list2.pop(5)

'Sarah'

In [44]:
list2.pop(4)

'Alex'

In [45]:
list2.pop(0)

'Anna'

In [46]:
list2

['Mary', 'Lena', 'Margarita', 'Daniel', 'Irina']

### 3rd problem

In [15]:
set3={5,1,7,10,19,13,24,35,27,31}
set3

{1, 5, 7, 10, 13, 19, 24, 27, 31, 35}

In [21]:
a=int(input("Please enter any number!"))
if a>min(set3) and a<max(set3):
    print ("True")
else:
    print('False')

Please enter any number!36
False

### 4th problem

In [7]:
dict1={"student_id": "grade"}
dict1

{'student_id': 'grade'}

In [8]:
student_id=input("please enter your student id! ")

please enter your student id! 11

In [9]:
grade=input("please enter your grade! ")

please enter your grade! 70

In [10]:
dict1["11"]="70"
dict1

{'student_id': 'grade', '11': '70'}

### 5th problem

In [11]:
a=12
b=15
if a==b:
    print("It's a square!")
if a!=b:
    print("It's a rectangle")

It's a rectangle

### 6th problem

In [71]:
name="Armine"
age=15
password="Batman14"

In [92]:
if name=="Batman":
    print("Welcome Mr Batman!")
else:
    if age<16:
        print("Dear %s, you are too young to register!" % name)
    if password.count('*')==0 or password.count('&')==0:
        print("Please enter a different password!")

Dear Armine, you are too young to register!
Please enter a different password!

### 7th problem

In [5]:
for i in range(0,101):
    if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### 8th problem

In [2]:
for i in range(1,21):
    print(i)
    if i%15==0:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

### 9th problem

In [5]:
list1=[5,8,13,7,45,4,55,20,23]
list1
list2=[]
for i in list1:
    if i>20:
        list2.append(i)
print(list2)

[45, 55, 23]